<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid">
    <div class="row col-sm-12 header-container">
        JASPER - {{Title}}
    </div>
    <div class="row col-sm-12 nav-container">

        <nw-navbar class="ng-component"></nw-navbar>
    </div>
    <div class=" col-sm-12 main-container">
        <router-outlet class="ng-component"></router-outlet>
    </div>
    <div class="row col-sm-12 footer-container">
        <div class="text-center">
            footer Area
        </div>
    </div>
</div>